.root {
  text-align: center;
}

.App {
  text-align: center;
}

.col-user-icon {
  flex-grow: 0;
}

.col-nav-burger {
  margin: auto;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-evenly; 
}


/* Bootstrap Media Queries
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/
